---
interface Props {
    headline: string;
}

const { headline } = Astro.props;
---

<span class="header-title md-typescale-title-medium">
    {headline}
</span>

<style>
    .header-title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        color: var(--md-sys-color-on-surface);
        margin-left: 4px;
        font-weight: 600;
    }
</style>
