---

---

<div id="application-standalone-root" class="application-standalone-root">
    <span class="root-content">
        <slot />
    </span>

    <span class="root-bottom-app-bar">
        <slot name="bottom-app-bar" />
    </span>

    <span class="root-navigation-rail">
        <slot name="navigation-rail" />
    </span>
</div>

<style>
    .application-standalone-root {
        --var-layout-content-height: var(--layout-content-height);
        --var-layout-content-width: var(--layout-content-width);

        --var-layout-bottom-app-bar-height: var(
            --layout-bottom-app-bar-height,
            80px
        );

        --var-layout-navigation-rail-width: var(
            --layout-navigation-rail-width,
            84px
        );

        --var-layout-min-height: 100svh;
        --var-layout-max-height: 100svh;

        display: grid;
        min-height: var(--var-layout-min-height);
        max-height: var(--var-layout-max-height);
        background-color: var(--md-sys-color-surface);
        overflow: hidden;

        /* Grid template */
        @media (max-width: 600px) {
            grid-template-rows:
                var(--var-layout-content-height, 1fr)
                var(--var-layout-bottom-app-bar-height);
            grid-template-columns: 1fr;
        }
        @media (min-width: 600px) {
            grid-template-rows: 1fr;
            grid-template-columns:
                var(--var-layout-navigation-rail-width)
                var(--var-layout-content-width, 1fr);
        }

        /* Grid */
        @media (max-width: 600px) {
            & > .root-content {
                grid-row: 1 / 2;
            }
            & > .root-bottom-app-bar {
                grid-row: 2 / 3;
            }
            & > .root-navigation-rail {
                display: none;
            }
        }
        @media (min-width: 600px) {
            & > .root-navigation-rail {
                grid-column: 1 / 2;
                grid-row: 1/1;
            }
            & > .root-content {
                grid-column: 2 / 3;
                grid-row: 1/1;
            }
            & > .root-bottom-app-bar {
                display: none;
            }
        }

        & > .root-content {
            overflow: auto;
        }

        &:not(:has(.root-bottom-app-bar > *)) {
            --layout-bottom-app-bar-height: 0px;
        }
        &:not(:has(.root-navigation-rail > *)) {
            --layout-navigation-rail-width: 0px;
        }
    }
</style>
