---

---

<!doctype html>
<html lang="en">
    <head>
        <slot name="head" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Glare Labs</title>
        <slot name="head-after" />
    </head>
    <body>
        <slot />
    </body>
</html>
