---

---

<span class="navigation-drawer-header md-typescale-headline-medium">
    <slot />
</span>

<style>
    .navigation-drawer-header {
        color: var(--md-sys-color-on-surface);
    }
</style>
